<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- Dao를 Mapper Interface로 대체 할 예정, namespace=Class의 풀네임 선언 필요 -->
<mapper namespace="com.multi.mvc.culture.model.mapper.CultureMapper">
	<resultMap type="Culture" id="cultureResultMap">
		<result property="cno" column="CNO"/>
		<result property="addr1" column="ADDR1"/>
		<result property="addr2" column="ADDR2"/>
		<result property="areacode" column="AREACODE"/>
		<result property="booktour" column="BOOKTOUR"/>
		<result property="cat1" column="CAT1"/>
		<result property="cat2" column="CAT2"/>
		<result property="cat3" column="CAT3"/>
		<result property="contentid" column="CONTENTID"/>
		<result property="contenttypeid" column="CONTENTTYPEID"/>
		<result property="createdtime" column="CREATEDTIME"/>
		<result property="firstimage" column="FIRSTIMAGE"/>
		<result property="firstimage2" column="FIRSTIMAGE2"/>
		<result property="cpyrhtDivCd" column="CPYRHTDIVCD"/>
		<result property="mapx" column="MAPX"/>
		<result property="mapy" column="MAPY"/>
		<result property="mlevel" column="MLEVEL"/>
		<result property="modifiedtime" column="MODIFIEDTIME"/>
		<result property="sigungucode" column="SIGUNGUCODE"/>
		<result property="tel" column="TEL"/>
		<result property="title" column="TITLE"/>
		<result property="zipcode" column="ZIPCODE"/>

		
		
	</resultMap>
	
		<select id="selectCount" resultType="int">
		SELECT COUNT(*) FROM CULTURE
	</select>
	
	<insert id="insertCulture" parameterType="java.util.List">
    INSERT INTO CULTURE
    (	
          cNO, addr1, addr2, areacode, booktour
          , cat1, cat2, cat3, contentid, contenttypeid
          , createdtime, firstimage, firstimage2, cpyrhtDivCd 
          , mapx, mapy, mlevel, modifiedtime, sigungucode, tel          
          , title, zipcode   

    )VALUES
    <foreach collection="list" index="index" item="item" separator=","> 
    ( 
    
    		0, #{item.addr1}, #{item.addr2}, #{item.areacode}
          , #{item.booktour}, #{item.cat1}, #{item.cat2}, #{item.cat3}
          , #{item.contentid}, #{item.contenttypeid}, #{item.createdtime}
          , #{item.firstimage}, #{item.firstimage2}, #{item.cpyrhtDivCd}
          , #{item.mapx}, #{item.mapy}, #{item.mlevel}, #{item.modifiedtime}
          , #{item.sigungucode}, #{item.tel}, #{item.title}, #{item.zipcode}
	)
    </foreach> 
	</insert>
	
</mapper>