<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- Dao를 Mapper Interface로 대체 할 예정, namespace=Class의 풀네임 선언 필요 -->
<mapper namespace="com.multi.mvc.culture.model.mapper.EventMapper">

	<resultMap type="Event" id="eventResultMap">

	    <result property="eno" column="ENO"/>
	    <result property="addr1" column="ADDR1"/>
	    <result property="addr2" column="ADDR2"/>
	    <result property="areacode" column="AREACODE"/>
	    <result property="booktour" column="BOOKTOUR"/>
	    <result property="cat1" column="CAT1"/>
	    <result property="cat2" column="CAT2"/>
	    <result property="cat3" column="CAT3"/>
	    <result property="contentid" column="CONTENTID"/>
	    <result property="contenttypeid" column="CONTENTTYPEID"/>
	    <result property="createdtime" column="CREATEDTIME"/>
	    <result property="firstimage" column="FIRSTIMAGE"/>
	    <result property="firstimage2" column="FIRSTIMAGE2"/>
	    <result property="cpyrhtDivCd" column="CPYRHTDIVCD"/>
	    <result property="mapx" column="MAPX"/>
	    <result property="mapy" column="MAPY"/>
	    <result property="mlevel" column="MLEVEL"/>
	    <result property="modifiedtime" column="MODIFIEDTIME"/>
	    <result property="sigungucode" column="SIGUNGUCODE"/>
	    <result property="tel" column="TEL"/>
	    <result property="title" column="TITLE"/>
	    <result property="zipcode" column="ZIPCODE"/>
	    <result property="sponsor1" column="SPONSOR1"/>
	    <result property="sponsor1tel" column="SPONSOR1TEL"/>
	    <result property="sponsor2" column="SPONSOR2"/>
	    <result property="sponsor2tel" column="SPONSOR2TEL"/>
	    <result property="eventEndDate" column="EVENTENDDATE"/>
	    <result property="playtime" column="PLAYTIME"/>
	    <result property="eventPlace" column="EVENTPLACE"/>
	    <result property="eventHomepage" column="EVENTHOMEPAGE"/>
	    <result property="agelimit" column="AGELIMIT"/>
	    <result property="bookingplace" column="BOOKINGPLACE"/>
	    <result property="placeinfo" column="PLACEINFO"/>
	    <result property="subevent" column="SUBEVENT"/>
	    <result property="program" column="PROGRAM"/>
	    <result property="eventStartDate" column="EVENTSTARTDATE"/>
	    <result property="usetimefestival" column="USETIMEFESTIVAL"/>
	    <result property="discountinfofestival" column="DISCOUNTINFOFESTIVAL"/>
	    <result property="spendtimefestival" column="SPENDTIMEFESTIVAL"/>
	    <result property="festivalgrade" column="FESTIVALGRADE"/>
	</resultMap>


	<select id="selectCount" resultType="int">
		SELECT COUNT(*) FROM EVENT;
	</select>


	<delete id="deleteTableEvent">
		<!-- DELETE FROM FESTIVAL; -->
		DROP TABLE IF EXISTS EVENT;
	</delete>

	<insert id="createTableEvent">

		CREATE TABLE IF NOT EXISTS EVENT (
		    CONTENTID INT,
		    CONTENTTYPEID INT,
		    ADDR1 VARCHAR(255),
		    ADDR2 VARCHAR(255),
		    AREACODE INT,
		    BOOKTOUR INT,
		    CAT1 VARCHAR(255),
		    CAT2 VARCHAR(255),
		    CAT3 VARCHAR(255),
		    CREATEDTIME DATE,
		    FIRSTIMAGE VARCHAR(255),
		    FIRSTIMAGE2 VARCHAR(255),
		    CPYRHTDIVCD VARCHAR(255),
		    MAPX VARCHAR(255),
		    MAPY VARCHAR(255),
		    MLEVEL INT,
		    MODIFIEDTIME DATE,
		    SIGUNGUCODE INT,
		    TEL VARCHAR(255),
		    TITLE VARCHAR(255),
		    ZIPCODE VARCHAR(255),
		    SPONSOR1 VARCHAR(255),
		    SPONSOR1TEL VARCHAR(255),
		    SPONSOR2 VARCHAR(255),
		    SPONSOR2TEL VARCHAR(255),
		    EVENTENDDATE DATE,
		    PLAYTIME VARCHAR(255),
		    EVENTPLACE VARCHAR(255),
		    EVENTHOMEPAGE VARCHAR(255),
		    AGELIMIT VARCHAR(255),
		    BOOKINGPLACE VARCHAR(255),
		    PLACEINFO VARCHAR(255),
		    SUBEVENT VARCHAR(255),
		    PROGRAM VARCHAR(255),
		    EVENTSTARTDATE DATE,
		    USETIMEFESTIVAL TEXT,
		    DISCOUNTINFOFESTIVAL VARCHAR(255),
		    SPENDTIMEFESTIVAL VARCHAR(255),
		    FESTIVALGRADE VARCHAR(255),
		    CONSTRAINT PK_EVENT PRIMARY KEY (CONTENTID, CONTENTTYPEID)
		);

	</insert>

	<insert id="initEvent" parameterType="java.util.List">
	
		INSERT INTO EVENT(
		    ADDR1, ADDR2, AREACODE, BOOKTOUR, CAT1, CAT2,
		    CAT3, CONTENTID, CONTENTTYPEID, CREATEDTIME, FIRSTIMAGE,
		    FIRSTIMAGE2, CPYRHTDIVCD, MAPX, MAPY, MLEVEL, MODIFIEDTIME,
		    SIGUNGUCODE, TEL, TITLE, ZIPCODE,
		    SPONSOR1, SPONSOR1TEL, SPONSOR2, SPONSOR2TEL,
		    EVENTENDDATE, PLAYTIME, EVENTPLACE, EVENTHOMEPAGE,
		    AGELIMIT, BOOKINGPLACE, PLACEINFO, SUBEVENT,
		    PROGRAM, EVENTSTARTDATE, USETIMEFESTIVAL,
		    DISCOUNTINFOFESTIVAL, SPENDTIMEFESTIVAL, FESTIVALGRADE
		) VALUES
		<foreach collection="list" index="index" item="item" separator=",">
		    (
		        #{item.addr1}, #{item.addr2}, #{item.areacode}, #{item.booktour},
		        #{item.cat1}, #{item.cat2},
		        #{item.cat3}, #{item.contentid}, #{item.contenttypeid}, #{item.createdtime},
		        #{item.firstimage},
		        #{item.firstimage2}, #{item.cpyrhtDivCd}, #{item.mapx}, #{item.mapy}, #{item.mlevel},
		        #{item.modifiedtime}, #{item.sigungucode}, #{item.tel},
		        #{item.title}, #{item.zipcode},
		        #{item.sponsor1}, #{item.sponsor1tel}, #{item.sponsor2}, #{item.sponsor2tel},
		        #{item.eventEndDate}, #{item.playtime}, #{item.eventPlace}, #{item.eventHomepage},
		        #{item.agelimit}, #{item.bookingplace}, #{item.placeinfo}, #{item.subevent},
		        #{item.program}, #{item.eventStartDate}, #{item.usetimefestival},
		        #{item.discountinfofestival}, #{item.spendtimefestival}, #{item.festivalgrade}
		    )
		</foreach>;

		
	</insert>
	
	<select id="eventList" resultType="Event">
		select * from event;
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

</mapper>